<form class="" action="/admin/patron/add" method="post">
  <label for="name">Patron Name:</label><input type="text" name="name" value="" autofocus>
  <input type="submit" name="submit" value="Add Patron">
</form>
