@Html.Partial("searchBooks.cshtml", "/admin/books")
<h3>Admin Links</h3>
<a href="/admin/" class="link">Home</a>
<a href="/admin/books/" class="link">books</a>
<a href="/admin/patrons/" class="link">patrons</a>
<a href="/admin/authors/" class="link">authors</a>
