<form class="" action="/admin/author/add" method="post">
  <label for="name">Author Name</label><input type="text" name="name" value="" autofocus>
  <input type="submit" name="submit" value="Add Author to Library">
</form>
