<form class="" action="/admin/book/add" method="post">
  <label for="title">Book title</label><input type="text" name="title" value="" autofocus>
  <label for="count">How Many Copies</label><input type="number" name="count" value="1" min="1">
  <input type="submit" name="submit" value="Add Books to Library">
</form>
