<form class="" action="@Model/search" method="post">
  <label for="term">Search By Title Or Author  </label><input type="text" name="term" value="">
  <input type="submit" name="submit" value="Search">
</form>
